fastapi
uvicorn[standard]

langgraph
langchain
langchain-community
langchain-groq
langchain-huggingface

faiss-cpu
sentence-transformers

python-dotenv
pydantic
requests
beautifulsoup4
lxml

loguru

numpy